/*bootstrap overwrites*/

.bg-primary {
  background-color: #85A98F !important;
}

.bg-secondary {
  background-color: #FDF7F4 !important;
}

.btn-primary {
  background-color: #C30A14 !important;
}

.btn-primary:hover {
  background-color: #B8001F !important;
}

.navigation-padding {
  padding-top: 77px;
}

.navigation-margin {
  margin-top: 77px;
}

.custom-container {
  min-height: calc(100vh - 77px);
}

.custom-card-container {
  min-height: calc(100vh - (2rem + 77px));
}

.cursor-pointer {
  cursor: pointer;
}

.

body {
  font-family : 'Ubuntu', sans-serif;
}