.navbar {
    background-color: #343a40;
    border-bottom: 1px solid #ccc;
}

.nav-item {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.navbar-nav .nav-item .nav-link {
    color: #ffffff;
    padding: 8px 15px;
    text-align: left;
}

.nav-item.dropdown:hover .dropdown-menu,
.nav-item.dropdown.show .dropdown-menu {
    display: block;
    margin-bottom: .5rem;
}

.nav-item.dropdown .dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #ccc;
    width: auto;
    text-align: left;
    display: none;
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

.navbar-toggler-icon {
    background-image: url("../../../assets/toggler-icon.svg") !important;
}

@media (max-width: 768px) {
    .navbar-collapse {
        background-color: #343a40;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        z-index: 1000;
        border-bottom: 1px solid gray !important;
        box-shadow: 0px 5px 50px lightgray;
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;
        background-color: #ffffff;
    }

    .nav-item {
        width: 100%;
        color: black;
    }

    .nav-link {
        color: #000000 !important;
        padding: 10px 15px;
        text-align: center;
    }

    .dropdown-menu {
        position: static;
        width: 100%;
        border: none !important;
        background-color: #ffffff;
        margin-left: 15px !important;
        padding: 0 !important;
    }

    .dropdown-item {
        color: #808080 !important;
    }
}

@media (min-width: 769px) {
    .nav-link {
        color: white !important;
    }

    .dropdown-item {
        color: #000000;
    }
}